@charset "utf-8";

.signup {
  max-width: 500px;
  margin: 50px auto;

  @media screen and (max-width: 768px){
    max-width: 288px;
    margin: 50px auto;
    // width: calc(100% - 48px);
  }

  @media screen and (max-width: 320px){
    margin: 50px 16px;
    // width: calc(100% - 32px);
    font-size: small;
  }
}
.signup-form {
  margin: 25px 0;
  color: #555555;
}

.email-input,
.name-input,
.password-input {
  width: 100%;
  font-size: large;
  height: 30px;
  margin-bottom: 25px;
}

.signup-button {
  background-color: #242f9b;
  color: #ffffff;
  width: 100px;
  height: 40px;
  border-radius: 5px;

  &:hover{
    opacity: 0.7;
  }

  @media screen and (max-width: 320px){
    width: 100%;
  }
}

.error-message {
  color: #ff3333;
}
